__pycache__/
.vscode
.env
.log*
log*
*.log
logs/
.pytest_cache/
.coverage
htmlcov/
.idea/
.DS_Store
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg